main { 
   gap: 40px;
   flex-wrap: wrap;
}

.left-aside {
   display: flex;
   flex-direction: column;
   gap: 24px;
   width: 400px;
   color: var(--gray100);
}

.left-aside em {
   color: var(--brand100);
   font-style: normal;
}

.left-aside span {
   display: flex;
   flex-direction: column;
   gap: 25px;
   width: 320px;
}

.left-aside h1 {
   font-size: var(--font-size-3);
   line-height: 48px;
}

.left-aside h2 {
   font-size: var(--font-size-3);
   line-height: 48px;
}
 
.left-aside p {
   font-size: var(--font-size-2);
   color: var(--gray300);
}

.right-aside {
   width: 368px;
   max-width: 100%;
}

.right-aside form {
   display: flex;
   flex-direction: column;
   padding: 44px 24px;
   border: 1px solid var(--gray600);
   border-radius: var(--radius);
}

.right-aside form * {
   margin-bottom: 26px;
}

.right-aside form > label {
   margin-bottom: 10px;
   font-size: var(--font-size-2);
   color: var(--gray100);
   font-weight: var(--font-weight-2);
}

.login-input {
   border: solid 1px var(--gray600);
   height: 44px;
   border-radius: var(--radius);
   background-color: var(--gray800);
   outline: none;
   padding: 10px;
}

.right-aside input::placeholder {
   font-size: var(--font-size-2);
   color: var(--gray400);
   font-weight: var(--font-weight-1);
}

.right-aside h3 {
   font-size: var(--font-size-4);
   color: var(--gray100);
   font-weight: var(--font-weight-2);
}

.right-aside p {
   text-align: center;
   color: var(--gray100);
}

#form-alert {
   text-align: left;
   color: var(--alert100);
   font-size: var(--font-size-1);
   font-weight: var(--font-weight-1);
   opacity: 0.7;
}

.hidden {
   display: none;
}

.disable {
   pointer-events: none;
   opacity: 40%;
}

#loading {
   margin: 0;
}

.form-question {
   font-size: var(--font-size-1);
   font-weight: var(--font-weight-2);
   color: var(--gray100);
}

.form-info {
   font-size: var(--font-size-1);
   font-weight: var(--font-weight-1);
   color: var(--gray300);
}

.alert-input-border {
  border:1px solid var(--alert100);
}