main { 
   gap: 100px;
   flex-wrap: wrap;
}

.right-aside {
   display: flex;
   flex-direction: column;
   gap: 24px;
   width: 400px;
   color: var(--gray100);
}

.right-aside em {
   color: var(--brand100);
   font-style: normal;
}

.right-aside span {
   display: flex;
   flex-direction: column;
   gap: 24px;
   width: 320px;
}

.right-aside h1 {
   font-size: var(--font-size-3);
   line-height: 48px;
}

.right-aside h2 {
   font-size: var(--font-size-3);
   line-height: 48px;
}

.right-aside p {
   font-size: var(--font-size-2);
   color: var(--gray300);
}

.left-aside {
   width: 368px;
   max-width: 100%;
   position: relative;
}

.left-aside form {
   display: flex;
   flex-direction: column;
   padding: 44px 24px 18px 24px;
   border: 1px solid var(--gray600);
   border-radius: var(--radius);
}

.left-aside form * {
   margin-bottom: 26px;
}

.left-aside form > label {
   margin-bottom: 10px;
   font-size: var(--font-size-2);
   color: var(--gray100);
   font-weight: var(--font-weight-2);
}

.left-aside input {
   border: solid 1px var(--gray600);
   height: 44px;
   border-radius: var(--radius);
   background-color: var(--gray800);
   outline: none;
   padding: 10px;
}

.left-aside input::placeholder {
   font-size: var(--font-size-2);
   color: var(--gray400);
   font-weight: var(--font-weight-1);
}

.left-aside h3 {
   font-size: var(--font-size-4);
   color: var(--gray100);
   font-weight: var(--font-weight-2);
}

.left-aside p {
   text-align: center;
   color: var(--gray100);
} 

#form-alert {
   text-align: left;
   color: var(--alert100);
   font-size: var(--font-size-1);
   font-weight: var(--font-weight-1);
}
 
.hidden {
   display: none;
}

.form-register-btn {
   height: 38px;
   background-color: var(--brand100);
   color: var(--gray900);
   border: none;
   border-radius: var(--radius);
   font-weight: var(--font-weight-2);
   font-size: var(--font-size-2);
   cursor: pointer;
}

.disable {
   pointer-events: none;
   opacity: 40%;
}

#loading {
   margin: 0;
}

.back-to-login-btn {
   height: 38px;
   background-color: transparent;
   color: var(--gray100);
   border: 1px solid var(--gray600);
   border-radius: var(--radius);
   font-weight: var(--font-weight-2);
   font-size: var(--font-size-2);
   cursor: pointer;
}


.back-to-login-btn {
   height: 38px;
   background-color: transparent;
   color: var(--gray100);
   border: 1px solid var(--gray600);
   border-radius: var(--radius);
   font-weight: var(--font-weight-2);
   font-size: var(--font-size-2);
   cursor: pointer;
}

.btn-top {
   height: 32px;
   font-size: var(--font-size-1);
   padding:0px 8px;
   width: fit-content;
   position: absolute;
   left: 208px;
}
