.toast-container {
   position: fixed;
   display: flex;
   justify-items: flex-start;
   align-items: center;
   gap: 17px;
   max-width: 500px;
   padding: 21px 32px;
   color: var(--gray100);
   border-radius: var(--radius);
   box-shadow: 0px 4px 30px -12px rgba(0, 0, 0, 0.2);
   animation: toastIt 4000ms ease-in forwards;
   background-color: var(--gray900);
}

@keyframes toastIt {
   0% {right: 30px; bottom:-100px}
   25% {right: 30px; bottom:10px}
   50% {right: 30px; bottom:10px}
   100% {right: 30px; bottom:-100px}
}

.toast-container > img {
   width: 24px;
}

.toast-container > div {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.toast-container h3 {
   color: var(--sucess100);
   font-weight: var(--font-weight-2);
   font-size: var(--font-size-2);
}

.toast-container p {
   color: var(--gray200);
   font-weight: var(--font-weight-1);
   font-size: var(--font-size-1);
}